:root{
  --footersize: 100%;
  --sidebarwidth: 100%

}
.main{
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 30px;
}

.text-justify {
  text-align: justify;
}

.hidden {
  display: none;
}


.container-fluid {
  display: flex;
  flex-direction: column;



  
}

.containerPage {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--footersize);

}
.bg-pasto{
  background: url("/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  
}


.main-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   /* Agrega desplazamiento vertical al contenido si es necesario */
}


