.home {
 
  
}
.imagen{
  width: 300px;
  height: 300px;
  text-align: center;
}
.imagenServimar{
  width: 200px;
  height: 200px;
}
.imagenCPMontt{
  

  
}
.logoHome {
  max-height: 500px;
  height: auto;
  display: none;
}
.cliente {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  width: 300px;
  height: 300px;
}
.fondoTexto{
  background-color:rgba(255, 255, 255, 0.7);
}